.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2fr 5fr 2fr 2fr 2fr 2fr 1fr;
  grid-template-areas: 'titlebar'
    'content2'
    'content3'
    'content4'
    'content5'
    'content6'
    'content7';

}

.titlebar {
  grid-area: titlebar;
  border: 2px solid black;
  /* Apply border to all content areas */
}

.content2 {
  grid-area: content2;
  border: 2px solid black;
  /* Apply border to all content areas */

}

.content3 {
  grid-area: content3;
  border: 2px solid black;
  /* Apply border to all content areas */

}

.content4 {
  grid-area: content4;
  border: 2px solid black;
  /* Apply border to all content areas */

}

.content5 {
  grid-area: content5;
  border: 2px solid black;
  /* Apply border to all content areas */

}

.content6 {
  grid-area: content6;
  border: 2px solid black;
  /* Apply border to all content areas */

}

.content7 {
  grid-area: content7;
  border: 2px solid black;
  /* Apply border to all content areas */

}

.content8 {
  grid-area: content8;
  border: 2px solid black;
  /* Apply border to all content areas */

}

@media only screen and (min-width: 768px) {
  .layout {
    width: 100%;
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 5fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-areas:
      'titlebar titlebar titlebar titlebar titlebar titlebar titlebar titlebar titlebar titlebar titlebar'
      'content2 content2 content2 content2 content2 content2 content2 content2 content2 content2 content2'
      'content2 content2 content2 content2 content2 content2 content2 content2 content2 content2 content2'
      'content2 content2 content2 content2 content2 content2 content2 content2 content2 content2 content2'
      'content3 content8 content4 content6 content6 content6 content6 content6 content6 content6 content6'
      'content3 content8 content5 content6 content6 content6 content6 content6 content6 content6 content6'
      'content7 content8 content5 content6 content6 content6 content6 content6 content6 content6 content6';
  }

}