.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2fr 5fr 2fr 2fr 2fr 2fr 1fr;
  grid-template-areas: 'titlebar'
    'transactionsTable'
    'categoryFilters'
    'recipientFilters'
    'necessityFilters'
    'reimburseFilters'
    'amountFitlers';

}

.titlebar {
  grid-area: titlebar;
  border: 2px solid black;
  /* Apply border to all content areas */
}

.transactionsTable {
  grid-area: transactionsTable;
  border: 2px solid black;
  /* Apply border to all content areas */

}

.categoryFilters {
  grid-area: categoryFilters;
  border: 2px solid black;
  /* Apply border to all content areas */

}

.recipientFilters {
  grid-area: recipientFilters;
  border: 2px solid black;
  /* Apply border to all content areas */

}

.necessityFilters {
  grid-area: necessityFilters;
  border: 2px solid black;
  /* Apply border to all content areas */

}

.reimburseFilters {
  grid-area: reimburseFilters;
  border: 2px solid black;
  /* Apply border to all content areas */

}

.amountFitlers {
  grid-area: amountFitlers;
  border: 2px solid black;
  /* Apply border to all content areas */

}

.subcategoryFilters {
  grid-area: subcategoryFilters;
  border: 2px solid black;
  /* Apply border to all content areas */

}

@media only screen and (min-width: 768px) {
  .layout {
    width: 100%;
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 5fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-areas:
      'titlebar titlebar titlebar titlebar titlebar titlebar titlebar titlebar titlebar titlebar titlebar'
      'transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable'
      'transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable'
      'transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable transactionsTable'
      'categoryFilters subcategoryFilters recipientFilters reimburseFilters reimburseFilters reimburseFilters reimburseFilters reimburseFilters reimburseFilters reimburseFilters reimburseFilters'
      'categoryFilters subcategoryFilters necessityFilters reimburseFilters reimburseFilters reimburseFilters reimburseFilters reimburseFilters reimburseFilters reimburseFilters reimburseFilters'
      'amountFitlers subcategoryFilters necessityFilters reimburseFilters reimburseFilters reimburseFilters reimburseFilters reimburseFilters reimburseFilters reimburseFilters reimburseFilters';
  }

}